/*Global*/
@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";

/*Componentes*/
@import "./components/tipografia.css";
@import "./components/cores.css";
@import "./components/componentes.css";
@import "./components/formulario.css";

/*home*/
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";
@import "./home/introducao.css";

/*Seguros*/
@import "./seguros/seguros.css";
@import "./seguros/vantangens.css";
@import "./seguros/perguntas.css";

/*Bicicletas*/
@import "./bicicletas/bicicletas.css";
@import "./bicicletas/bicicletas-lista.css";

/*Bicicleta - interna*/
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/*Contato*/
@import "./contato/contato.css";
@import "./contato/lojas.css";

/*Termos*/
@import "./termos/termos.css";
